---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Container from "@/components/primitives/Container.astro";
import Link from "@/components/primitives/Link.astro";
import Prose from "@/components/primitives/Prose.astro";
import Share from "@/components/primitives/Share.astro";
import Title from "@/components/primitives/Title.astro";
import { loadVideo } from "@/lib/asset-helpers";
import { Icon } from "astro-icon/components";
import { defaultLocale } from "site";
import BaseLayout from "./BaseLayout.astro";

type Props = {
	frontmatter: CollectionEntry<"works">;
};

const currentLocale = Astro.currentLocale;

interface WorkLayoutLocale {
	visitProject: string;
}

interface ComponentLocales {
	[key: string]: WorkLayoutLocale;
}

const componentLocales: ComponentLocales = {
	it: {
		visitProject: "Visita progetto",
	},
	en: {
		visitProject: "Visit project",
	},
};

const l = componentLocales[currentLocale ?? defaultLocale];

const { frontmatter } = Astro.props;

const videoSrc = frontmatter.data?.video
	? await loadVideo(frontmatter.data.video)
	: null;
---

<BaseLayout>
	<section class="py-32 md:py-56">
		<Container>
			<div class="text-center">
				<Title level={1}>{frontmatter.data.title}</Title>
				<p class="mx-auto max-w-2xl pt-8 text-base text-slate-500">
					<em>{frontmatter.data?.description}</em>
				</p>
				{
					frontmatter.data.link && (
						<Link
							href={frontmatter.data.link}
							target="_blank"
							class="mt-10"
							style="outline"
						>
							{l.visitProject}
							<Icon
								name="iconamoon:arrow-top-right-1-thin"
								class="inline-block w-6 h-6 ml-2"
							/>
						</Link>
					)
				}
			</div>
			<div class="flex w-full flex-col items-center justify-center pt-10">
				{
					"video" in frontmatter.data &&
					frontmatter.data?.video &&
					videoSrc ? (
						<video autoplay loop muted playsinline>
							<source src={videoSrc} />
							Your browser does not support the video tag.
						</video>
					) : (
						"cover" in frontmatter.data &&
						frontmatter.data?.cover && (
							<Image
								class="w-full rounded-4xl lg:w-auto lg:min-w-[50rem] lg:rounded-5xl"
								src={frontmatter.data?.cover}
								alt={`Cover image for ${frontmatter.data?.title}`}
							/>
						)
					)
				}
				<Prose><slot /></Prose>
				<div class="mx-auto w-full max-w-3xl pt-20">
					<Share />
				</div>
			</div>
		</Container>
	</section>
</BaseLayout>
